body {
        background-color: #010F2B;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.navitem {
    padding-left: 0.3em;
    font-family: 'abel', cursive;
    display: inline;
    text-decoration: none;
    font-size: 1.4em;
    color: #0DC8FE;
    transition: 1s color;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
}

.navitem:hover {
    color: #9ef7ff;
    text-shadow: #9ef7ff 0px 10px 2.5px;
}

#logo {
    display: block;
    margin: auto;
    width: 50%;
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#head {
    height: 100vh;
}

.text-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: white;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Amita', cursive;
    font-size: 3.5em;
}

.default-text {
    text-align: center;
    font-family: 'Abel', cursive;
    font-size: 2em;
    padding: 2em 0 1em 0;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 1em;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
}

.portfolio img {
    height: 18em;
    width: 18em;
    opacity: 40%;
    border: 3px solid white;
}

.portfolio img:hover {
    opacity: 100%;
    cursor: pointer;
}

#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    padding: .8em;
    background-color: black;
    border: 5px solid white;
}

/* Add mobile responsive */
