body {
        background-color: black;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.navitem {
    padding-left: 0.3em;
    font-family: 'abel', cursive;
    display: inline;
    text-decoration: none;
    font-size: 1.4em;
    color: #9c7c11;
    transition: 0.3s color;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.navitem:hover {
    color: #e2142d;
    text-shadow: #e2142d 0px 10px 2.5px;
}

#logo {
    display: block;
    margin: auto;
    width: 50%;
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#head {
    height: 100vh;
}

.text-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: white;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media, .email{
    font-size: 2em;
    padding: 0 1em 0em 1em;
    font-family: 'Abel', cursive;
}

.social-media > img {
    height: 2em;
    width: 2em;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: gray;
}

.social-media > img:hover {
    filter: grayscale(0);
    filter: none;
}

h1 {
    text-align: center;
    font-family: 'Skranji', cursive;
    font-size: 4em;
    color: #400000;
}

h2 {
    font-family: 'Skranji', cursive;
    font-size: 2em;
    color: #400000;
}

.default-text {
    text-align: center;
    font-family: 'Abel', cursive;
    font-size: 2em;
    padding: 2em 0 1em 0;
}

.blog-title {
    text-align: center;
    padding: 1em 0 1em 0;
    color: black;
}

.blog-post {
    display: flex;
    align-self: center;
    font-family: 'Abel', cursive;
    font-size: 1.2em;
    width: 25%;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 1em;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
}

.portfolio img {
    height: 18em;
    width: 18em;
    opacity: 40%;
    border: 4px solid white;
}

.portfolio img:hover {
    opacity: 100%;
    cursor: pointer;
}

#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
}

footer {
    height: 10vh;
}

.foot-text {
    padding-top: 2em;
    color: white;
}

#left-foot  {
    float: left;
}

#right-foot {
    float: right;
}

/* Add mobile responsive */
